{% extends '@App/Layout/base.html.twig' %}

{% block content %}
    <table class="table">
        <tbody>
        {% for podcast in podcasts %}
            <tr>
                <td>
                    <a href="{{ podcast.link }}">
                        {{ podcast.date }}
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    {% if podcast.megaFileName is defined %}
                        <a title="Respaldo! desde mega.nz" href="{{ path('stream_cocavi', {'id': podcast.id}) }}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@App/Default/paginator.html.twig' %}
{% endblock %}